.btn {
    border-radius: var(--border-radius-5);
    cursor: pointer;
    padding: var(--space-10) var(--space-36);
}

.btn-primary {
    background: var(--primary);
    color: var(--white);
    border: none;
}

.btn-secondary {
    background: var(--white);
    box-shadow: var(--box-shadow-1);
    border: var(--space-1) solid var(--primary);
    color: var(--primary);
}

.btn-dribble {
    border-radius: var(--border-radius-1);
    background: var(--dribble);
    box-shadow: var(--box-shadow-2);
    color: var(--white);
}

@media (max-width: 75em) {
    .btn {
        padding: var(--space-8) var(--space-22);
    }
}
