.header-right {
    width: 55%;
    height: auto;
    display: flex;
    margin-right: -10rem;
}

.hero-img {
    width: 60rem;
    height: auto;
    object-fit: contain;
    margin-top: -1.5rem;
}

@media (max-width: 81.25em) {
    .hero-img {
        width: 50rem;
    }
    .header-right {
        margin-left: 6rem;
    }
}

@media (max-width: 75em) {
    .hero-img {
        width: 45rem;
        margin-top: 3rem;
    }
}

@media (max-width: 68.75em) {
    .header-right {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 56em) {
    .header-right {
        width: 100%;
        display: block;
        text-align: center;
        justify-content: center;
        margin-top: 5rem;
    }
}
