.contact__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: var(--space-32);
    text-align: center;
}

.contact-text {
    width: 70%;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-32);
    margin: 0 auto;

}

.two-inputs__wrapper {
    display: flex;
    gap: var(--space-32);
    justify-content: center;
}

.two-inputs__wrapper input {
    width: 100%;
}

@media (max-width: 25em) {
    .contact-form {
        margin: 0;
    }
    .contact-text {
        width: 80%;
    }

    .two-inputs__wrapper {
        /* flex-wrap: wrap; */
        flex-direction: column;
        
    }

}

/* @media (max-width: 23.43em) {
    .textarea-wrapper {
        padding-left: 25%;
        padding-right: 25%;
        margin: 0 auto;
    }
}

@media (max-width: 21em) {
    .textarea-wrapper {
        padding-left: 10%;
        padding-right: 10%;
        margin: 0 auto;
    }
} */
