:root {
    --border-radius-0: 0;
    --border-radius-2: 0.2rem;
    --border-radius-4: 0.4rem;
    --border-radius-5: 0.5rem;
    --border-radius-6: 0.6rem;
    --border-radius-8: 0.8rem;
    --border-radius-10: 1rem;
    --border-radius-12: 1.2rem;
    --border-radius-16: 1.6rem;
    --border-radius-20: 2rem;
    --border-radius-70: 7rem;
    --border-radius-120: 12rem;

    --border-radius-circle: 50%;

}