:root {
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;

    --font-size-74: 7.4rem;
    --font-size-72: 7.2rem;
    --font-size-68: 6.8rem;
    --font-size-64: 6.4rem;
    --font-size-60: 6rem;
    --font-size-54: 5.4rem;
    --font-size-48: 4.8rem;
    --font-size-32: 3.2rem;
    --font-size-24: 2.4rem;
    --font-size-22: 2.2rem;
    --font-size-20: 2rem;
    --font-size-18: 1.8rem;
    --font-size-16: 1.6rem;
    --font-size-14: 1.4rem;
    --font-size-12: 1.2rem;

    --line-height-15: 150%;
    --line-height-17: 170%;
    --line-height-14: 140%;
    --line-height-13: 130%;
    --line-height-12: 120%;
    --line-height-11: 110%;
    --line-height-10: 100%;
}

.heading-1,
.heading-2,
.heading-3 {
    color: var(--heading);
}

.heading-1,
.heading-2,
.heading-3 {
    font-weight: var(--font-weight-600);
}

.heading-1 {
    font-size: var(--font-size-64);
    line-height: var(--line-height-11);
}

.heading-2 {
    font-size: var(--font-size-54);
    line-height: var(--line-height-10);
}

.heading-3 {
    font-size: var(--font-size-24);
    line-height: var(--line-height-14);
}

.display-lg,
.display-md {
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-10);
    color: var(--body);
}

.display-lg {
    font-size: var(--font-size-22);
}

.display-md {
    font-size: var(--font-size-18);
}

.paragraph-lg,
.paragraph-md,
.paragraph-sm {
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-17);
    color: var(--body);
}

.paragraph-lg {
    font-size: var(--font-size-20);
}
.paragraph-md {
    font-size: var(--font-size-18);
}

.paragraph-sm {
    font-size: var(--font-size-16);
}

.button-text-white,
.button-text-purple {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-15);
}

.button-text-white {
    color: var(--white);
}
.button-text-purple {
    color: var(--primary);
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-align-justify {
    text-align: justify;
}
.text-align-inherit {
    text-align: inherit;
}

@media (max-width: 68.75em) {
    .heading-1 {
        font-size: var(--font-size-60);
        line-height: var(--line-height-10);
    }
}

@media (max-width: 62.5em) {
    .heading-1 {
        font-size: var(--font-size-60);
    }
}
