.navigation-bar {
    display: flex;
    /* position: fixed; */
    width: 100%;
    /* top: 0; */
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}


