.projects-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-22);
}

.projects-box {
    display: flex;
    gap: var(--space-42);
}

.project {
    width: calc((100% - var(--space-96)) / 3);
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-4);
    border-radius: var(--border-radius-8);
    transition: all 1s;
}

.project:hover {
    transform: scale(1.07);
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-8);
}

.project_text {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: var(--space-22);
    padding: var(--space-32) var(--space-32) var(--space-12) var(--space-32);
    background-color: var(--white);
    border-radius: var(--border-radius-8);
}

.icons-wrapper {
    display: flex;
    gap: var(--space-32);
    align-items: center;
    margin-top: auto;
}

.project-icon {
    display: flex;
    align-items: center;
    margin-top: auto;
}

@media (max-width: 62.5em) {
    .projects-box {
        flex-wrap: wrap;
    }

    .project {
        width: 100%;
        flex-direction: row;
    }

    .project-img {
        width: 60%;
        border-radius: var(--border-radius-8);
    }

    .project_text {
        height: auto;
        padding-bottom: var(--space-12);
    }
}
