.input {
    outline: none !important;
    width: 30rem;
    height: 5rem;
    border: 0.15rem solid var(--input);
    border-radius: var(--border-radius-8);
    padding: var(--space-16);
    font-family: inherit;
    font-size: var(--font-size-20);
    color: var(--heading);
    display: block;
    transition: all 0.3s;
}

.input-textarea {
    resize: none;
    height: var(--space-160);
    width: 100%;
}

input::placeholder,
:-ms-input-placeholder {
    color: var(--gray);
}

.input:hover:not(.input-error, :disabled) {
    border: 0.15rem solid var(--primary);
}

.input:focus:not(.input-error) {
    border: 0.15rem solid var(--primary);
}

.input-error {
    border: 0.15rem solid var(--dribble);
}

.input:disabled {
    border-color: var(--gray);
    background-color: var(--white);
}

.input:disabled::placeholder {
    color: var(--gray);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.input-wrapper label {
    display: block;
}

/* @media (max-width: 62.5em) {
    .input-textarea {
        width: 95%;
        margin: 0 auto;
    }
} */

@media (max-width: 37.5em) {
    .input {
        padding: var(--space-8);
        height: auto;
    }

    .input-textarea {
        height: var(--space-100);
    }
}
