.input {
    outline: none !important;
    height: 5.6rem;
    border: 0.15rem solid var(--primary-2);
    border-radius: var(--border-radius-8);
    padding: var(--space-16);
    font-family: inherit;
    font-size: var(--font-size-20);
    color: var(--heading);
    width: 35rem;
    display: block;
    transition: all 0.3s;
}

.input-textarea {
    resize: none;
    height: var(--space-160);
    width: 100%;

}

input::placeholder,
:-ms-input-placeholder {
    color: var(--gray);
}


.input:hover:not(.input-error, :disabled) {
    border: 0.15rem solid var(--primary);
}

.input:focus:not(.input-error) {
    border: 0.15rem solid var(--primary);
}

.input-error {
    border: 0.15rem solid var(--dribble);
}

.input:disabled {
    border-color: var(--gray);
    background-color: var(--white);
}

.input:disabled::placeholder {
    color: var(--gray);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
}

.input-wrapper label {
    display: block;
}
