/* .skills-content {
    max-width: max-content;
} */

.skills-header {
   margin-bottom: var(--space-32);
}

.skills-box {
    max-width: 144rem;
    display: flex;
    /* white-space: nowrap; */
    /* overflow-x: hidden; */
    padding: var(--space-20);
    animation: scrollSkills 30s linear infinite;

}

@keyframes scrollSkills {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-145%);
    }
}

.skill_item {
    flex-shrink: 0;
    width: 12rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-22) var(--space-18);
    margin-right: var(--space-20);
    /* transition: transform 0.5s ease; */
}

/* .skill_item:hover {
    transform: translateY(-10px);
} */

.skill-icon {
    margin-bottom: var(--space-10); /* Adjust margin */
}
