.header-left {
    width: 55%;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-22);
    margin-bottom: var(--space-64);
}


span {
    color: var(--primary);
}

@media (max-width: 56em) {
    .header-left {
        width: 100%;
        display: block;
        text-align: start;
        margin-left: var(--space-22);
    }

    .header__content {
        margin-bottom: var(--space-48);
    } 
}