.header-left {
    display: flex;
    width: 50%;
    height: 70vh;
    align-items: center;    
}

.container {
    display: flex;
    gap: var(--space-32);
    flex-direction: column;
}

span {
    color: var(--primary);
}
.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-22);
}
.actions {
    padding-top: var(--space-22);
}
