.header-left {
    
    width: 50%;
   padding-top: var(--space-100); 
}

.container {
    display: flex;
    gap: var(--space-32);
    flex-direction: column;
}

span {
    color: var(--primary);
}
.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-22);
}
